body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: font-size:4em;
  margin-bottom: 0px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: font-size:3.5em;
}

div.content {
  font-size:1.5em;
}

a.active {
  color: blue;
}

body {
  text-align: center;
  background-color: GhostWhite;
}

h1 {
  font-size: 6.5vw;
  margin-bottom: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span, a {
  text-decoration: none;
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  background:none;
  border:none;
  font-size:1em;
  outline: none;
}

button.active {
  color: blue;
}
