* {
  font-family: 'Montserrat', sans-serif;
}

body {
  text-align: center;
  background-color: GhostWhite;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: font-size: 2.5em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: DimGrey;
  font-size: 3.5vw;
  margin-bottom: 0px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span, a {
  text-decoration: none;
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  background:none;
  border:none;
  font-size:1em;
  outline: none;
}

#header-container {
  display: flex;
  flex-direction: row;
}

#title {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: 33%;
  padding-bottom: 6%;
}

#logo {
  justify-content: flex-start;
  position: relative;
  width: 40%;
  height: 15%;
}
