body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: font-size:4em;
  margin-bottom: 0px;
}

h2 {
  font-size: font-size:3.5em;
}

div.content {
  font-size:1.5em;
}

span, button {
  padding: 10px 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  background:none;
  border:none;
  font-size:1em;
  outline: none;
}

button.active {
  color: blue;
}

body {
  text-align: center;
  background-color: GhostWhite;
}
